//Utilities  
//immagine in questa sezione
img.window {
    max-width: 760px;
}
img.image-txt {
    max-width: 270px;
    display: block;
    margin-top: 40px;
}
// titoli e paragrafi per queste sezione
.dialog-text {
    h2 {
        width: 380px;
    }
    p {
        margin: 70px 0;
        width: 400px;
    }
}




.dialog {
    //max-width: $maxwidth;
    margin: 0 auto;
    margin-top: 100px;
    @include flex(center);
    &:nth-child(even) {

        .dialog-image {
            order: 1;
        }
        .dialog-text {
            order: 0;
            margin-left: 380px;
        }
    }
    

    .dialog-image, 
    .dialog-text {
        flex-basis: calc(100% /2)
    }
}

@media all and (max-width:780px) {
    .dialog {
        @include flex(center, center, column);
        &:nth-child(even) {
            .dialog-image {
                order: 0;
            }
            .dialog-text {
                order: 1;
                margin-left: 0;
            }
        }
    }
}
