
header {
    .content {
        max-width: $maxwidth;
        margin: 0 auto;
    }
}
.main-header {
    @include flex(space-between, center);
    border-bottom: 1px solid $font-color;
    padding: 15px;
    .menu {
        i.fa-bars,
        i.fa-times {
            display: none;
        }
        .respmenu {
            display: none;
        }
    }
    li {
        @include mylist;
        position: relative;
        a {
            color: $font-color;
            margin: 0 15px;
            &:hover {
                color: $btn-col;
            }
        } 
        &.sign {

            border: 1px solid $btn-col;
            padding: 6px;
            border-radius: 10px;
            &:hover {
                background: $btn-col;
                color: white;
            }
            
            img {
                width: 20px;
                margin-right: 5px;
                vertical-align: middle;
            }
            
        }   
    }
}
ul.dropdown {
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
    background: white;
    box-shadow: 0px 0px 10px 1px rgba(56,53,56,1);
    transition: opacity .3s linear;
    li {
        display: block;
        padding: 5px;
    }
} 
li.menu-drop:hover ul.dropdown {
    opacity: 1;
}

.jumbo-header {
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    .jumbo-header-right {
        flex-basis: calc(100% /2);
        h1 {
            width: 510px;
            font-size: 45px;
            line-height: 60px;
            margin-bottom: 20px;
        }
        p:first-of-type {
            font-size: 25px;
            line-height: 45px;
            margin-bottom: 30px;
        }
        .bottoni {
            @include flex(space-between, center);
            margin-bottom: 30px;
            max-width: 400px;
            img {
                vertical-align: middle;
                margin-right: 8px;
            }
        }
        a {
            color: #58402c;
            &:hover {
                color:$btn-col;
            }
        }
    }
    .jumbo-header-left {
        flex-basis: calc(100% /2);
        img {
            width: 570px;
        }
    }
}

@media all and (max-width:780px) {
    header {
        text-align: center;
        .main-header {
            .menu {
                position: relative;
                ul {
                    display: none;
                }
                i.fa-bars {
                    display: block;
                }
                .respmenu {
                    display: block;
                }
                .respmenu ul {
                    border-top: 1px solid black;
                    display: none;
                    position: absolute;
                    top: 38px;
                    left: -534px;
                    width: 600px;
                    min-height: 200px;
                    background: white;
                    color: $font-color;
                    padding: 20px;
                }
                .respmenu ul::before {
                    width: 15px;
                    height: 15px;
                    background: white;
                    position: absolute;
                    top: -9px;
                    right: 50px;
                    content: '';
                    transform: rotate(45deg);
                    border-top: 1px solid black;
                    border-left: 1px solid black;
                }
                .respmenu ul.active {
                    display: block;
                }
                .respmenu ul li {
                    display: block;
                    margin-bottom: 15px;
                }
            }

        }
    }
    .jumbo-header {
        display: block;
        .jumbo-header-right {
            h1 {
                width: 100%;
            }
            .bottoni {
                max-width: 100%;
                @include flex(space-around, center, row)
            }
        }
    }

}